@charset "utf-8";
a {
  color: #4a4a4a;
  text-decoration: underline;
}
p .icon {
  vertical-align: middle;
}
.ss-header-content {
  margin-top: 1rem;
}
.ss-header-content p {
  margin-bottom: 0 !important;
}
.ss-table tr > td:first-child {
  width: 70%;
}
.ss-star-1::after {
  content: "★☆☆";
  font-style: normal;
}
.ss-star-2::after {
  content: "★★☆";
  font-style: normal;
}
.ss-star-3::after {
  content: "★★★";
  font-style: normal;
}
