@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/_all.sass';
@import '../../node_modules/bulma/sass/components/_all.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/layout/_all.sass';

.ss-profile-icon {
  @include mobile() {
    display: none;
  }
}
.ss-profile-name {
  @include mobile() {
    font-size: 1.5rem;
  }
}
.ss-profile-description {
  @include mobile() {
    font-size: 0.75rem;
  }
}
.ss-profile-email {
  @include mobile() {
    font-size: 0.75rem;
  }
  > .icon {
    vertical-align: middle;
  }
  > a {
    vertical-align: middle;
    color: #4a4a4a;
    text-decoration: underline;
  }
}
.ss-profile-contact > a {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  color: #4a4a4a;
}
.ss-list-with-star {
  position: relative;
  .ss-star {
    position: absolute;
    left: 10.5rem;
    font-style: normal;
  }
}
